node_modules
.cache
build
public/build
dist
.env
#qp specific dev-only folders
data/
data_real/
dats/
dats_real/
#the logger config is a user file
loggerConfig.json
#log logs dir is a user file
logs/
